.custom-tablist {
    display: flex;
    gap: 56px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-tablist .react-tabs__tab {
    margin-right: 20px;
    padding: 10px 0;
    cursor: pointer;
    color: black;
    border: none;
    outline: none;
  }
  

  
  .custom-tablist .active-tab {
    font-weight: bold;
    color: goldenrod;
    position: relative;
  }
  
  .custom-tablist .active-tab::after {
    content: "";
    display: block;
    height: 2px;
    background-color: goldenrod;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
  }
  
  .pagination .active a {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .pagination .disabled a {
    color: #6c757d;
    cursor: not-allowed;
  }
  